*{
    margin: 0 auto;
    padding: 0;
    background-color: rgb(53, 53, 53);
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 53, 53);
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 100%;
    color: white;
}
header, nav , main , footer{
    max-width: 80vw;
    padding:1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    font-size: 2.5em;
}
nav a{
    flex-direction: row;
    gap: 2em;
    color: white;
    background-color: black;
    width: 70px;
    height: 20px;
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
}

form input{
    padding: 0.3em;
    border-radius: 0.3em;
}
.pop#error{
background-color: darkred;
max-width: 100%;
}