*{
    margin: 0 auto;
    padding: 0;
    background-color: rgb(53, 53, 53);
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 53, 53);
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 100%;
}
header, nav , main , footer{
    max-width: 80vw;
    padding:1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    font-size: 2.5em;
}
nav a{
    flex-direction: row;
    gap: 1em;
    color: white;
    background-color: black;
    max-width: 70px;
    max-height: 90px;
    gap: 1em;
}

form input{
    padding: 0.3em;
    border-radius: 0.3em;
}