*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    padding: 1em;
    margin: 0;
    gap: 1em;
    flex-direction: column;
}

.caja button{
 padding: 0.5em;
border: none;
flex-direction: column;
cursor: pointer;
}

.caja{
margin: 0;
padding: 0;
background-color: darkred;
height: 150px;
width: 400px;
text-align: center;
flex-direction: column;
}