#parrafo1, #div1, #a1{
    color: aqua;
}
#div2{
    color: purple;
}
#div2 p{
    color: red;
}
#div2 p b{
    color: green;
}
#div2 p b a{
    color: mediumblue;
}
#div3{
    color: lime;
}
#div3 > p{
    color: red;
}
#div3 > div > p{
    color: crimson;
}