.cajas div{
    width: 200px;
    height: 100px;
    background-color: darkred;
    border: 2px solid black;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cajas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}
#caja4{
    background-color: cadetblue;
    flex-grow: 1;
    order: 2;
 }
 #caja5{
    background-color: aqua;
    flex-grow: 5;
    order: -1;
}
nav a{
    text-decoration: none;
    color: inherit;
    padding: 1em;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
nav a:hover{
    background-color: darkorange;
}
nav{
    display: flex;
    background-color: orange;
}
body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contenedor{
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 800px;
}
#contenedor header img{
width: 90px;
}
#contenedor header{
    display: flex;
    gap: 1em;
    justify-content: center;
    background-color: darkgreen;
}
#contenedor nav{
    background-color: darkgreen;
    color: white;
}
#contenedor main{
    display: flex;
    gap: 1em
}
#contenedor main img{
width: 30%;
height: fit-content;
}
#contenedor footer{
    background-color: darkgreen;
    color: white;
    font-weight: 600;
    padding: 1em;
}