body{
    background-color: black;
    color: white;
    margin: 0 auto;
    font-family: cursive;
    
}
#contenedor{
text-align: center;
display: flex;
align-items: center;
gap: 20px;
margin-left: 90px;
}
#contenedor a{
    text-decoration: none ;
    background-color: darkred;
    color: white;
    margin-left: 90px;
    display: inline-block;
    padding: 10px 25px;
}
#fi{
    text-align: center;
    padding: 50px;
}
#fotos img{
    margin: 10px;
    padding: 10px;
}
#foto2{
    text-align: center;
}
#mensajeC{
    text-align: center;   
}
#foto2 img{
    border-radius: 50%;
    max-width: 150px;
}
#botoncito{
    text-align: center;
    padding: 10px 20px;
    
}
#nombre{
display: block;
border-radius: 7px;
margin-bottom: 16px;
padding: 5px;
}
#correo{
    display: block;
    margin-bottom: 5px;
    border-radius: 7px;
    margin-bottom: 16px;
    padding: 5px;
}
#opiniones{
    display: block;
    padding: 5px;
    border-radius: 7px;
    margin-bottom: 20px;
     
    
}
#contenedor2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#redes img{
    border-radius: 50%;
    max-width: 50px;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}
#redes{
    text-align: center;
}
#mensajeC{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#parrafo1{
    display: flex;
}
#espacio{
    display: flex;
}
#modificarcolor{
    border: 4px solid darkred;
    padding: 70px;
}
#botonaccion{
    text-decoration: none;
   padding: 300px;
   color: red;
}
#espacio{
    margin: auto;
    max-width: 85%;
}
#tituloP{
    text-align: center;
}
#fotoprincipal{
    text-align: center;
}
#contenedorPADRE{
    display: flex;
    padding: 30px;
    gap: 20px;
}
#contenedorhijo1 a{
    text-decoration: none;
    color:red;
    padding-left: 80px;
}
#contenedorhijo2 a{
    text-decoration: none;
    color: red;
    padding-left: 80px;
}
#contenedorhijo3 a{
    text-decoration: none;
    color: red;
    padding-left: 80px;
}
#contenedorhijo4 a{
    text-decoration: none;
    color: red;
    padding-left: 80px;
}
#contenedorhijo5 a{
    text-decoration: none;
    color: red;
    padding-left: 80px;
}
#contenedorhijo1{
    border: 3px solid darkred;
    padding-left: 20px;
}
#contenedorhijo2{
    border: 3px solid darkred;
    padding-left: 20px;
}
#contenedorhijo3{
    border: 3px solid darkred;
    padding-left: 20px;
}
#contenedorhijo4{
    border: 3px solid darkred;
    padding-left: 20px;
}
#contenedorhijo5{
    border: 3px solid darkred;
    padding-left: 20px;
}
#texto{
    padding: 9px;
}