body{
    background-color: black;
    color: white;
    margin: 0 auto;
    font-family: cursive;
    
}
#contenedor{
text-align: center;
}
#contenedor a{
    text-decoration: none ;
    background-color: darkred;
    color: white;  
}
#fi{
    text-align: center;
    padding: 50px;
}
#fotos img{
    margin: 10px;
    padding: 10px;
}
#foto2{
    text-align: center;
}
#mensajeC{
    text-align: center;   
}
#foto2 img{
    border-radius: 50%;
    max-width: 150px;
}
#botoncito{
    text-align: center;
    padding: 40px;
    
}
#nombre{
display: block;
border-radius: 7px;
margin-bottom: 16px;
padding: 5px;
}
#correo{
    display: block;
    margin-bottom: 5px;
    border-radius: 7px;
    margin-bottom: 16px;
    padding: 5px;
}
#opiniones{
    display: block;
    padding: 5px;
    border-radius: 7px;
    margin-bottom: 20px;
     
    
}
#contenedor2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#redes img{
    border-radius: 50%;
    max-width: 50px;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}
#redes{
    text-align: center;
}
#mensajeC{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#parrafo1{
    display: flex;
}
#tituloP{
text-align: left;
}
#espacio{
    display: flex;
}
#modificarcolor{
    border: 4px solid darkred;
}