*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(124, 119, 119);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  padding: 1em;
}
#contenedor{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
}
#agregarTarea{
  background-color: rgb(21, 235, 14);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
}
table{
  border: 2px solid rgb(0, 0, 0);
  border-collapse: collapse;
}
table th, table td{
  border: 1px solid rgb(99, 14, 14);
  padding: 0.3em;
}
.btn{
  background-color: rgb(9, 212, 9);
  padding: 0.5em;
  width: fit-content;
  cursor: pointer;
  font-weight: 600;
  display: inline-block;
}
.btnCompleta{
  background-color: green;
  color: rgb(255, 255, 255);
}
.btnEditar{
  background-color: rgb(99, 99, 99);
  color: rgb(255, 255, 255);
}
.btnPendiente{
  background-color: darkorange;
  color: rgb(255, 255, 255);
}

#cortina{
  background-color: rgba(0, 0, 0, 0.582);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}
#contModificarTarea{
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
}
#btnModifTarea{
  background-color: green;
  color: rgb(255, 255, 255);
}
#btnBorrarTodo{
  background-color: darkred;
}